/*===============================================
Blogs
===============================================*/

.blog-intro {
  padding: 76px 0;
  @include media(medium) {
    padding: 120px 0;
  }
  @include media(large) {
    padding: 144px 0;
  }
}

.impact-grey {
  color: $black;
  background-color: #f5f5f5;
}

.blog-intro h1, .blog-intro h2 {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 38px;
      @include media(large) {
        margin-bottom: 12px;
        font-size: 97px;
      }
}

.blog-intro p {
  margin-bottom: 0;
  font-family: $proxi;
  font-weight: $semi-bold;
  font-size: 20px;
  line-height: 1.45;
    @include media(large) {
        font-size: 26px;
    }
}

.post-list {
  list-style: none;
  padding-left: 0;
}

.blog .main {
    margin-top: 44px;
    margin-bottom: 60px;
    @include media(large) {
        margin-top: 75px;
    }
}

.post .main {
  margin-top: -96px;
  background: $white;
  clear: both;
  .wrap {
    background: $white;
  }
}

.learnings .post {
  background-color: #fff;
}
.post {
  margin-bottom: 60px;
    @include media(medium) {
        margin-bottom: 115px;
    }
  .post-link {
      display: block;
      text-decoration: none;
  }
  p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.45;
      @include media(medium) {
        font-size: 20px;
      }
    a {
      border-bottom: 3px solid #21d67f;
      color: $body-copy;
      text-decoration: none;
      font-size: 20px;
      &:hover {
        color: #6238bd;
      }
    }
  }
  h2 {
    display: inline-block;
    font-weight: $bold;
    margin-bottom: 10px;
    font-size: 33px;
        @include media(medium) {
            font-size: 42px;
        }
  }
  .more-link {
    border-bottom: 3px solid #21d67f;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      color: #6238bd;
    }
  }
}

.post-meta {
  font-family: $proxi;
  font-weight: $bold;
  font-size: 18px;
}

.blog-intro {
.words-title {
  font-size: 48px;
  span {
    color: #21d67f;
  }
    @include media(medium) {
      font-size: 51px;
    }
    @include media(large) {
      font-size: 77px;
    }
}
}

.creations .main .spc-title {
   margin-bottom: 25px;
    @include media(medium) {
    margin-bottom: 18px;
    }
}

.sml-btn {
   background-color: #6238bd;
   color: #fff;
   font-size: 18px;
     @include media(medium) {
      padding: 11px 20px;
    }
}
