/*===============================================
Buttons
===============================================*/

.btn {
  color: $black;
  background-color: $white;
  padding: 12px 40px;
  text-decoration: none;
  font-size: 22px;
  font-family: $proxi;
  &:hover {
    background-color: #6238bd;
    color: $white;
  }
}
