/*===============================================
Header
===============================================*/

.main-header {
  padding-top: 25px;
  padding-bottom: 25px;
  @include media(large) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.logo {
  float: left;
  color: $white;
  margin-left: -5px;
  text-decoration: none;
  font-family: $proxi;
  font-weight: $headline;
  font-size: 27px;
  color: $black;
  z-index: 99;
  @include media(large) {
    font-size: 30px;
  }
  svg {
    height: 40px;
    width: 40px;
    float: left;
    @include media(medium) {
      margin-top: 3px;
      height: 45px;
      width: 45px;
    }
  }
  .intitals {
    fill: $white;
  }
}

.intro-title {
  float: left;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 17px;
  @include media(medium) {
    margin-top: 16px;
  }
    @include media(large) {
        margin-left: 14px;
        font-size: 20px;
    }
}
