<h3 class="h2">Leave a comment:</h3>
      
  <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments" id="demo-form" data-parsley-validate="">
    <input name="options[redirect]" type="hidden" value="http://uxeskimo.co.uk/comments-sent.html">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <div class="form-row">
      <label for="name">Name</label>
      <input name="fields[name]" type="text" id="name" required="" data-parsley-required-message="Your name is required.">
    </div>
      <div class="form-row">
        <label for="email">E-mail (optional)</label>
        <input name="fields[email]" type="email" id="email">
      </div>
      <div class="form-row">
        <label for="comment">Comment</label>
        <textarea name="fields[message]" rows="6" id="comment" required="" data-parsley-minlength="10" data-parsley-minlength-message="Come on! You can give me at least a 10 character comment can't you?" data-parsley-required-message="A comment is required."></textarea>
        <legend><em>Comments will appear after moderation.</em></legend>
      </div>  
        <div class="form-row">
        <button type="submit">Submit comment</button>
        </div>
  </form>