<header class="main-header">

    <div class="wrap">

            <div class="row">

                  <div class="column creation-nav">

                        <a href="/../blog.html" class="creations-back"><span class="creations-arrow"><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 67.4"><style>.st0{fill:#010101;}</style><path class="st0" d="M26.4 67.4l7.9-6.2-17.6-22.5H65v-10H16.7L34.3 6.2 26.4 0 0 33.7z"/></svg></span><span class="creation-text">Words</span></a>

                  </div>

             </div>

    </div>

</header>
