<div class="clients">

    <h3>Over 16 years experience in UI design</h3>

    <p>I've worked with a wide variety of business including:</p>

      <div class="wrap">

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-citizens-advice"><use xlink:href="#icon-citizens-advice"></use></svg>
        </div>

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-jacamo"><use xlink:href="#icon-jacamo"></use></svg>
        </div>

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-jdwilliams"><use xlink:href="#icon-jdwilliams"></use></svg>
        </div>

     </div>

     <div class="wrap">

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-simply-be"><use xlink:href="#icon-simply-be"></use></svg>
        </div>

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sigma"><use xlink:href="#icon-sigma"></use></svg>
        </div>

        <div class="client-logo">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-ihg"><use xlink:href="#icon-ihg"></use></svg>
        </div>

    </div>

</div>
