<footer class="main-footer">

    <div class="wrap">

      <div class="da-eskimo">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-eskimo"><use xlink:href="#icon-eskimo"></use></svg>
      </div>

        <p>Goonies never say die</p>

        <ul class="footer-links">
          <li><a href="tel:07545351167"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg><span>Mobile</span></a></li>
          <li><a href="mailto:uxeskimo@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-email"><use xlink:href="#icon-email"></use></svg><span>Email</span></a></li>
          <li><a href="https://www.facebook.com/www.eskimowebdesign.co.uk"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/uxeskimo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span>Twitter</span></a></li>
        </ul>

        <p class="copyright">A mancunian production, copyright © 2016 Lee Murray</p>

    </div>

  </footer>
