<footer class="main-footer">

    <div class="wrap">

        <div class="row">

              <div class="column medium-6">

                <ul class="footer-links">
                  <li><a href="07545351167">07545351167</a></li>
                  <li><a href="mailto:uxeskimo@gmail.com">uxeskimo@gmail.com</a></li>
                  <li><a href="https://twitter.com/uxeskimo">@uxeskimo</a></li>
                </ul>

                <p>A mancunian production, copyright © 2017 Lee Murray</p>

              </div>

        </div>

    </div>

  </footer>
