<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>

<header class="main-header">

    <div class="wrap">

      <a href="/" class="logo"><svg xmlns="http://www.w3.org/2000/svg" class="icon-eskimo-logo"><use xlink:href="#icon-eskimo-logo"></use></svg></a>

      <a href="#" id="primary-trigger" class="mobile-menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-burger-menu menu-open"><use xlink:href="#icon-burger-menu"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-close-menu"><use xlink:href="#icon-close-menu"></use></svg>
      </a>

      <nav class="primary-nav">
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/work.html">Work</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>

    </div>

  </header>
