<nav class="skip-nav">
   <a href="#main-content" title="Skip to main content">Skip to content</a>
   <a href="#footer" title="Skip to footer">Skip to footer</a>
</nav>

<header class="main-header">

    <div class="wrap">

      <a href="/index.html" class="logo" aria-label="Homepage"><svg xmlns="http://www.w3.org/2000/svg" class="icon-eskimo-logo"><use xlink:href="#icon-eskimo-logo"></use></svg></a>

      <a href="#" id="primary-trigger" class="mobile-menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-burger-menu menu-open"><use xlink:href="#icon-burger-menu"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-close-menu"><use xlink:href="#icon-close-menu"></use></svg>
      </a>

      <nav class="primary-nav">
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog.html">Thoughts</a></li>
          <li><a href="/work.html">Work</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>

    </div>

  </header>
