<header class="main-header">

    <div class="wrap">

      <a href="/index.html" class="logo" aria-label="Homepage"><svg xmlns="http://www.w3.org/2000/svg" class="icon-eskimo-logo"><use xlink:href="#icon-eskimo-logo"></use></svg></a>

      <a href="#" id="primary-trigger" class="mobile-menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-burger-menu menu-open"><use xlink:href="#icon-burger-menu"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-close-menu"><use xlink:href="#icon-close-menu"></use></svg>
      </a>

      <nav class="primary-nav">
        <ul>
          <li class="about"><a href="/about.html">About</a></li>
          <li class="thoughts"><a href="/blog.html">Thoughts</a></li>
          <li class="contact"><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>

    </div>

  </header>
