/*===============================================
Colour variables
===============================================*/

$body-copy: #282828;
$body-grey: #ede7e1;
$white: #ffffff;
$black: #000000;
$blue: #009cf3;
$grey: #66635f;
$light-grey: #f3f2f2;
$light-red: #f9615b;
$red:#dc2959;
