
.blog-home {
   .intro {
}

.post-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
   h2 {
     font-size: 2em;
     margin-bottom: 15px;
   }
    a {
      text-decoration: none;
      color: #111;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      margin-top: 25px;
    }
}
}
