.back-link  {
  font-weight: 400;
  span {
   display: inline-block;
   vertical-align: top;
   padding-left: 10px;
  }
}
.blog {
  .author {
    margin-bottom: 45px;
  }
   .author-lee {
      display: block;
      background-image: url("http://s3-eu-west-1.amazonaws.com/eskimo/lee-murray-uxeskimo.jpg");
      background-size: 65px 65px;
      border-radius: 50%;
      width: 65px;
      height: 65px;
    }
    .author-name {
      display: block;
      margin-top: -50px;
      margin-left: 80px;
      font-weight: 400;
    }
   .intro {
      padding-top: 60px;
     p {
       margin-bottom: 25px;
         &:first-of-type {
           font-size: 26px;
           font-weight: 400;
                 @include breakpoint($surf-tide) {
                  font-size: 31px;
                 }
         }
     }
         img  {
         display: block;
       }

       h3 {
         text-align: left;
       }
       ul {
         text-align: left;
       }
  }
}

.post-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
   h2 {
     font-size: 1.7em;
     margin-bottom: 15px;
   }
    a {
      text-decoration: none;
      color: #111;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      display: block;
      margin-top: 25px;
    }
}
.post-meta {
  font-weight: 400;
}
