
.blog-home {
   .intro {
    @include span(4 of susy-get(columns));
      float: none;
       @include breakpoint($surf-tide) {
          @include span(3 of susy-get(columns));
          float: none;
          margin: 0 auto 40px auto;
       }
       @include breakpoint($standard-tide) {
          @include span(2 of susy-get(columns));
          float: none;
          margin: 0 auto 40px auto;
       }
  }
}

.post-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
   h2 {
     font-size: 2em;
     margin-bottom: 15px;
   }
    a {
      text-decoration: none;
      color: #111;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      margin-top: 25px;
    }
}
