.button-wrap {
  padding-top: 15px;
}
.primary-btn {
  display: inline-block;
  background-color: #119DA4;
  border: 0;
  color: white;
  padding: 15px 60px;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
    &:hover {
      background-color: #111;
      text-decoration: none;
    }
}
