
.contact {
   .intro {
     p {
       margin-bottom: 25px;
     }
    @include span(4 of susy-get(columns));
      float: none;
       @include breakpoint($surf-tide) {
          @include span(3 of susy-get(columns));
          float: none;
          margin: 0 auto;
       }
       @include breakpoint($standard-tide) {
          @include span(2.5 of susy-get(columns));
          float: none;
          margin: 0 auto;
       }
  }
}
