
.contact {
	 @include breakpoint($surf-tide) {
		.primary-nav .contact a {
			border-bottom: 2px solid #119DA4;
	  }
	}
   .intro {
    padding-top: 60px;
     p {
       margin-bottom: 25px;
        &:first-of-type {
           font-weight: 400;
         }
     }
  }
}
