footer {
  background-color: #111;
  color: #fefefe;
  clear: both;
  margin-top: 50px;
    @include breakpoint($surf-tide) {
       margin-top: 100px;
     }
    .wrap {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    p:first-of-type {
      padding-top: 15px;
       @include breakpoint($surf-tide) {
         padding-top: 35px;
       }
    }
    .footer-links {
      margin: 50px 0;
      padding: 0;
       @include breakpoint($surf-tide) {
          margin: 75px 0;
       }
          li {
            list-style: none;
            padding-bottom: 15px;
             a {
               color: #fefefe;
               text-decoration: none;
                  span {
                    display: block;
                  }
             }
          }
    }
    .copyright {
      font-size: 14px;
      color: #87878F;
    }
}
