footer {
  background-color: #111;
  color: #fefefe;
  text-align: center;
  clear: both;
    .wrap {
      padding: 25px 5px;
        @include breakpoint($surf-tide) {
          padding: 25px;
        }
    }
    p:first-of-type {
      padding-top: 15px;
       @include breakpoint($surf-tide) {
         padding-top: 35px;
       }
    }
    .da-eskimo {
      text-align: center;
      background-image: url("http://s3-eu-west-1.amazonaws.com/eskimo/the-goonies.jpg");
      background-size: 85px 85px;
      border-radius: 50%;
      margin: -67px auto 0 auto;
      width: 85px;
      height: 85px;
    }
    .footer-links {
      margin: 50px 0;
      padding: 0;
       @include breakpoint($surf-tide) {
          margin: 75px 0;
       }
          li {
            display: inline-block;
            padding: 0 1%;
              @include breakpoint($mini-tide) {
                padding-right: 2%;
                padding-left: 2%;
              }
              @include breakpoint($surf-tide) {
                  padding-right: 6%;
                  padding-left: 6%;
              }
              @include breakpoint($high-tide) {
                  padding-right: 9%;
                  padding-left: 9%;
              }
             a {
               color: #fefefe;
               text-decoration: none;
                  span {
                    display: block;
                  }
             }
          }
    }
    .copyright {
      font-size: 14px;
      color: #999;
    }
}
