// Forms
.form-row {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
input, textarea {
  display: block;
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #000;
  margin: 10px 0;
  border-radius: 0;
    &:focus {
        outline: none;
        border: 2px solid #119da4;
    }
}
input {
  max-width: 355px;
}
label {
  font-weight: 400
}

button[type=submit] {
  background-color: #119da4;
  color: #fff;
  outline: none;
  border: none;
  padding: 14px 40px;
  font-weight: 400
 }

 .bs-callout-warning {
  border: 1px solid #d0091c;
  padding: 20px;
 }

.parsley-errors-list {
  padding-left: 0;
}

.parsley-error {
  border: 2px solid #d0091c;
    &:focus {
        border: 2px solid #d0091c;
    }
}

 .parsley-required, .parsley-minlength {
  list-style: none;
  color: #d0091c;
 }