.clients {
  background-color: #f5f5f5;
  padding: 10px 5px 25px 5px;
  text-align: center;
  @include breakpoint($surf-tide) {
    padding: 25px;
  }
  p {
    margin: 0;
  }

    .wrap {
        margin-top: 25px;
       @include breakpoint($surf-tide) {
         padding: 25px;
       }
    }
    .wrap:last-child {
      padding-bottom: 15px;
      @include breakpoint($surf-tide) {
          padding-bottom: 25px;
      }
    }
}

  .home {
    .intro {
        padding-bottom: 30px;
      p {
        text-align: center;
        margin-bottom: 20px;
        @include breakpoint($surf-tide) {
           margin-bottom: 40px;
        }
      }
    }
  }
