.clients { 
  margin-top: 25px;
    .wrap {
        margin-top: 25px;
       @include breakpoint($surf-tide) {
         padding: 25px;
       }
    }
    .wrap:last-child {
      padding-bottom: 25px;
      @include breakpoint($surf-tide) {
          padding-bottom: 55px;
      }
    }
    .client-logo {
    @include span(4 of 12);
    margin-right: 0;
      @include breakpoint($surf-tide) {
          margin-bottom: 50px;
      }
 }
}

  .home {
    .intro {
          h1 {
              font-size: 31px;
                margin-top: 25px;
               @include breakpoint($surf-tide) {
                 font-size: 48px;
                 margin-top: 45px;
                 margin-bottom: 0;
               }
          }
          h2 {
            font-size: 25px;
             @include breakpoint($surf-tide) {
                 font-size: 30px;
               }
          }
      p {
        margin-bottom: 49px;
        &:last-of-type {
         margin-bottom: 25px;
       }
      }
    }
  }
