// Header Icons
.icon-eskimo-logo {
  height: 30px;
  width: 153px;
    @include breakpoint($surf-tide) {
      height: 37px;
      width: 188px;
    }
}

.icon-burger-menu {
  height: 30px;
  width: 34px;
    @include breakpoint($surf-tide) {
      height: 37px;
      width: 42px;
    }
}

.icon-close-menu {
  height: 30px;
  width: 30px;
    @include breakpoint($surf-tide) {
      height: 37px;
      width: 37px;
    }
}

// Client Icons
.icon {
  max-width: 100%;
  height: 80px;
  @include breakpoint($surf-tide) {
    height: 90px;
  }
}

.icon-citizens-advice {
  max-width: 60px;
  @include breakpoint($surf-tide) {
    max-width: 95px;
  }
}

.icon-jacamo {
  max-width: 80px;
  @include breakpoint($surf-tide) {
    max-width: 155px;
  }
}

.icon-coop-logo {
  max-width: 56px;
  @include breakpoint($surf-tide) {
    max-width: 67px;
  }
}

.icon-jdwilliams {
  max-width: 80px;
  @include breakpoint($surf-tide) {
    max-width: 155px;
  }
}

.icon-sigma {
  max-width: 80px;
  @include breakpoint($surf-tide) {
    max-width: 155px;
  }
}

.icon-ihg {
  max-width: 80px;
  @include breakpoint($surf-tide) {
    max-width: 155px;
  }
}

// Footer Icons
.icon-eskimo {
  max-width: 75px;
  max-height: 75px;
  padding: 3px;
}

.icon-phone {
  fill: #fff;
  width: 32px;
  max-height: 50px;
}

.icon-email {
  fill: #fff;
  max-height: 50px;
  width: 50px;
}

.icon-facebook {
  fill: #fff;
  max-height: 50px;
  width: 26px;
}

.icon-twitter {
  fill: #fff;
  max-height: 50px;
  width: 60px;
}
