.primary-nav {
      font-size: 16px;
      display: block;
      position: relative;
      float: right;
      width: auto;
      margin-left: 0;

    ul {
      margin: 0;
      padding-left: 25px;
      list-style: none;
      li {
        @include breakpoint($surf-tide) {
          display: inline-block;
        }
          &:first-of-type a {
            padding-left:0;
          }
        &:last-of-type a {
         margin-right: 0;
         padding-right: 0;
         padding-top: 0;
       }
          a {
            display: block;
            text-decoration: none;
            padding: 15px 45px 15px 0;
            text-transform: uppercase;
            font-weight: 400;
            font-style: normal;

              @include breakpoint($surf-tide) {
                display: inline-block;
                padding: 7.5px 0;
                margin-right: 25px;
                margin-left: 25px;
              }
          }
      }
    }
}

.main-header {
    background-color: #fff;
  .primary-nav {
    background-color: #fff;
    a {
      color: #111;
        &:hover {
          color: #119DA4;
        }
    }
  }
}
