.no-js .main-header {
    height: 125px;
}

  @include breakpoint($surfboard-width) {
    .no-js .main-header .primary-nav {
        margin-left: -25px;
        top: 70px;
    }
    .no-js .main-header .primary-nav li {
        display: inline-block;
    }
    .no-js .main-header .primary-nav a {
        padding-right: 28px;
    }
}

@include breakpoint($surf-tide) {
    .no-js .main-header .primary-nav {
        top: 0;
    }
    .no-js .main-header {
        height: auto;
    }
    .no-js .footer-links li {
        padding-right: 6%;
        padding-left: 6%;
    }
}

@include breakpoint($high-tide) {
    .no-js .footer-links li {
        padding-right: 8%;
        padding-left: 8%;
    }
}
