html, body {
  font-size: 23px;
}

body {
    font-family: "brandon-grotesque-n36", "brandon-grotesque", helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
}

a {
    color: #dc2959;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

.title {
  color: #dc2959;
  margin-top: 0;
    @include breakpoint($surf-tide) {
      margin-top: 25px;
    }
}

h1, h2, h3 {
  font-weight: 500;
  font-style: normal;
}
