
.work {
   .intro {
    @include span(4 of susy-get(columns));
      float: none;
       @include breakpoint($surf-tide) {
          @include span(3 of susy-get(columns));
          float: none;
          margin: 0 auto 40px auto;
       }
       @include breakpoint($standard-tide) {
          @include span(2.5 of susy-get(columns));
          float: none;
          margin: 0 auto 40px auto;
       }
  }
  .main {
    padding-bottom: 60px;
    .wrap {
      max-width: 1325px;
      padding: 25px 25px 0 25px;
      clear: both;
      @include breakpoint($surf-tide) {
        padding: 25px;
      }
      .work-box {
        @include span(12 of 12);
        margin: 0 auto 25px auto;
        @include breakpoint($surf-tide) {
          float: left;
          margin-bottom: 0;
            @include span(4 of 12);
            margin-right: gutter(12);
          }
          &:last-child {
            @include last;
          }
      }
      &:last-child {
        padding-top: 0;
      }
    }
}
}
