
.work {

  .main {
      .work-box {
        @include breakpoint($surf-tide) {
          float: left;
          margin-bottom: 0;
            @include span(4 of 12);
            margin-right: gutter(12);
          }
          &:last-child {
            @include last;
          }
      }
      &:last-child {
        padding-top: 0;
      }
    }
     .intro {
         padding-top: 60px;

      }

 }
