// Import partials from `sass_dir` (defaults to `_sass`)
@import "./bower_components/susy/sass/susy";
@import "./bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "partials/variables";
@import "partials/breakpoints";
@import "partials/extends";
@import "partials/typography";
@import "partials/header";
@import "partials/navigation";
@import "partials/heros";
@import "partials/footer";
@import "partials/buttons";
@import "partials/normalize";
@import "partials/icons";
@import "partials/home";
@import "partials/about";
@import "partials/blog-home";
@import "partials/blog-post";
@import "partials/work";
@import "partials/contact";
@import "partials/no-js";

body, html {
  overflow-x: hidden
}

.page-wrap {
  position: relative;
}

.skip-nav {
    position: absolute;
    top: -9999px;
    left: 0;
    z-index: 999;
}

.skip-nav a:focus {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 8px;
    background: #111;
    color: #fff;
    outline: 0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}

.wf-loading {
	 visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
.highlight {
  border-left: 8px solid #119DA4;
  padding-left: 25px;
  list-style: none;
  font-weight: 400;
  li {
      padding-bottom: 13px;
      &:last-of-type {
        padding-bottom: 0;
      }
  }
}

/* Changing Susy default global settings */
$susy:(
  columns: 12, // Tells Susy to use 4 columns
  container: 1280px, // Tells Susy that the container has a max-width of 1280px
  //debug: (image: show), // Visally shows grid
  global-box-sizing: border-box // content-box
  );

@include border-box-sizing;

.wrap {
  @include container();
  //height: 100vh;
  padding-right: 25px;
  padding-left: 25px;
}

.half-content {
  @include span(12 of 12);
   @include breakpoint($surf-tide) {
    @include span(6 of 12);
    margin-right: 0;
  }
}

.one-third-content {
  @include span(12 of 12);
   @include breakpoint($surf-tide) {
    @include span(3 of 12);
    margin-right: 0;
  }
}

.two-third-content {
  @include span(12 of 12);
   @include breakpoint($surf-tide) {
    @include span(9 of 12);
    margin-right: 0;
  }
}

.full-content {
  @include span(12 of 12);
}

.intro {
  padding-top: 25px;
  p {
    text-align: left;
  }
  h1 {
    font-size: 38px;
    margin-top: 0;
      @include breakpoint($surf-tide) {
         margin-top: 10px;
         font-size: 2em;
      }
  }
 
}

//@include span(3 of 4);
//@include span(1 of 4 last);
//body { @include container(80em); }
//nav { @include span(25%); }
