<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include metas.html %}
    <!--[if lt IE 9]>
        {% include olderIE.html %}
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://use.typekit.net/ygj4hou.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="{{page.body-page-class}}">

    <nav class="skip-nav">
        <ul>
            <li><a href="#main" title="Skip to main content">Skip to content</a></li>
        </ul>
    </nav>

    <div class="main-wrap">

                {% include header.html %}

                <div class="intro hero-1">

                  <div class="wrap">

                    <div class="row">

                        <div class="column medium-6 large-7">

                          <h2>Blogr</h2>

                          <p>My ramblings.</p>


                        </div>

                    </div>

                  </div>

                </div>


        <main id="main" class="main">
          <article>

            <div class="wrap intro">

              <div class="max-width-720">

              <ul class="post-list">
                {% for post in site.posts %}
                  <li>
                   <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    {% assign images = post.content | split:"<img " %}
                      {% for image in images %}
                      {% if image contains 'src=' %}
                      {% assign imageMarkup = image | split:">" | first %}
                      <img {{ imageMarkup }}>
                      {% break %}
                      {% endif %}
                      {% endfor %}
                      {{ post.excerpt }}
                  </li>
                {% endfor %}
              </ul>

              </div>

            </div>

          </article>
        </main>

    </div>

            {% include footer.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
  </body>
</html>
