<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include metas.html %}
    <!--[if lt IE 9]>
        {% include olderIE.html %}
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://use.typekit.net/ygj4hou.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <nav class="skip-nav">
        <ul>
            <li><a href="#main" title="Skip to main content">Skip to content</a></li>
        </ul>
    </nav>

    <div class="main-wrap creations-post">


       {% include creations-header.html %}


        <main id="main" class="main">

               {{ content }}

        </main>

    </div>

    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
    <script>

    document.addEventListener("DOMContentLoaded",
        function() {
            var div, n,
                v = document.getElementsByClassName("youtube-player");
            for (n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = labnolThumb(v[n].dataset.id);
                div.onclick = labnolIframe;
                v[n].appendChild(div);
            }
        });

    function labnolThumb(id) {
        var thumb = '<img src="https://s3-eu-west-1.amazonaws.com/eskimo/How-Do-I-Mac.jpg">',
            play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }

    function labnolIframe() {
        var iframe = document.createElement("iframe");
        var embed = "https://www.youtube.com/embed/ID?autoplay=1";
        iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    }

</script>
  </body>
</html>
