<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include google-analytics.html %}
    {% include metas.html %}
    <!--[if lt IE 9]>
        {% include olderIE.html %}
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://use.typekit.net/ygj4hou.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <nav class="skip-nav">
        <ul>
            <li><a href="#main" title="Skip to main content">Skip to content</a></li>
        </ul>
    </nav>

    <div class="main-wrap">

                {% include header.html %}

                <div class="intro hero-1">

                  <div class="wrap">

                    <div class="row">

                        <div class="column medium-6 large-7">

                          <h2>A co op designer</h2>

                          <p>A proud mancunian designer.</p>

                          <a href="eskimo.html" class="btn">Read more</a>

                        </div>

                    </div>

                  </div>

                </div>


                <div class="intro hero-2">

                  <div class="wrap">

                    <div class="row">

                    <div class="column medium-6 large-7">

                      <h2>Recent creations</h2>

                      <p>Design is a big part of my life.</p>

                      <a href="creations.html" class="btn">Read more</a>

                    </div>

                  </div>

                </div>

                </div>

                <div class="intro hero-3">

                  <div class="wrap">

                   <div class="row">

                      <div class="column medium-6 large-7">

                        <h2>My blog</h2>

                        <p>I write mainly about design and front-end development.</p>

                        <a href="blog.html" class="btn">Read more</a>

                      </div>

                  </div>

                  </div>

                </div>

        <main id="main" class="main">
                {{ content }}
        </main>

    </div>

            {% include footer.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
  </body>
</html>
