<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include metas.html %}
    <!--[if lt IE 9]>
        {% include olderIE.html %}
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://use.typekit.net/ygj4hou.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <nav class="skip-nav">
        <ul>
            <li><a href="#main" title="Skip to main content">Skip to content</a></li>
        </ul>
    </nav>

    <div class="main-wrap learnings">

      <div class="impact">

                {% include header.html %}

                  <div class="blog-intro">

                    <div class="wrap">

                      <div class="row">

                          <div class="column medium-7">

                            <h2 class="words-title">Today I learnt</h2>

                          </div>

                      </div>

                    </div>

                  </div>

          </div>

        <main id="main" class="main">

          <div class="wrap">
              {% for post in site.categories.learning %}

              {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
              {% if modulo == '1' %}
            <div class="row">
              {% endif %}
                  <div class="column large-4">

                    <section>

                    <article class="post">

                           <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                              {{ post.excerpt }}

                              <a href="{{ post.url | prepend: site.baseurl }}" class="more-link">Read more</a>

                    </article>


                    </section>

                  </div>
                  {% if modulo == '0' or forloop.last %}

           </div>
             {% endif %}
             {% endfor %}

  
          </div>
        </main>

    </div>

            {% include footer.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/script.js"></script>
  </body>
</html>
