<!DOCTYPE html>
<html class="no-js">

  {% include head-post.html %}

<body class="{{page.body-page-class}}">

  {% include svg-defs.html %}

    <div class="page-wrap">

    {% include header.html %}

    <main class="main">

      <div class="wrap">

      <section class="main-hero">

         <div class="blog-eskimo">

         </div>

      </section>

       </div>

      <article>

         <div class="wrap">

          <div class="two-third-content intro">


            <a href="/blog.html" class="back-link"> <svg xmlns="http://www.w3.org/2000/svg" class="icon-back"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-back"></use></svg><span>Thoughts archive</span></a>

          <div class="max-width-720">

          <h4 class="author"><span class="author-lee"></span><span class="author-name">Lee Murray, {{ page.date | date_to_long_string }}<span></h4>

          <h1 class="title">{{page.title}}.</h1>

              {{ content }}

          </div>

          </div>


        </div>

      </article>

    </main>

    {% include footer.html %}

  </div>

</body>
  <script src="/assets/js/main-scripts.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-76926101-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
